@{
    ViewBag.Title = "确认上网";
}

<h2>@ViewBag.Title</h2>
<p>当前登录用户为：@ViewBag.UserName</p>
<p>
    剩余流量：@*@(ViewBag.TrafficRemaining.ToString(new AuthSharp.Models.DataSizeFormatter()))*@
    @ViewBag.TrafficRemaining
</p>
@if (ViewBag.CanPass)
{
    using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.Hidden("gw_address", (string)ViewData["gw_address"])
        @Html.Hidden("gw_port", (string)ViewData["gw_port"])
        @Html.Hidden("gw_id", (string)ViewData["gw_id"])
        @Html.Hidden("url", (string)ViewData["url"])
        <input type="submit" value="确定上网" class="btn btn-primary btn-lg" />
    }
}
else
{
    <p>您的流量不足，不能上网。请 @Html.ActionLink("充值", "Recharge", "Manage") ，或者联系管理员审核。</p>
    <p>新用户将有 0.5 GB 的免费流量，但需要等待管理员审批后才可使用。管理员审批后可以单击下面的按钮刷新页面。</p>
    <p>如果您已经充值但流量显示为 0 ，请联系管理员通过充值请求过后刷新页面即可。</p>
    <button id="refreshbutton" class="btn btn-default">点击刷新</button>
}

@section scripts {
    @Scripts.Render("~/bundles/buttonscripts")
}